
.about-container {
  max-width: 800px;
  margin: 60px auto;
  padding: 40px;
  background: #f8f8f8;
  color: #333;
  font-family: 'Inter', sans-serif;
  border-radius: 10px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);

}


#aboutPageHeading {
  font-size: 3rem;
  font-weight: 800;
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 20px;
}

#aboutPageWhyHeading {
  font-size: 1.8rem;
  font-weight: 700;
  color: #333;
  margin-top: 40px;
  margin-bottom: 15px;
  position: relative;
  padding-bottom: 8px;
}

#aboutPageWhyHeading::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50px;
  height: 3px;
  background-color: #a0a0a0;
  border-radius: 5px;
}


p {
  color: #555;
  line-height: 1.7;
}

strong {
  color: #000;
  font-weight: 700;
}


#aboutPageWhatList {
  list-style: none;
  padding: 0;
}

#aboutPageWhatList li {
  padding: 12px 0;
  border-bottom: 1px solid #e0e0e0;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

 #aboutPageWhatList li:last-child {
  border-bottom: none;
}

#aboutPageWhatList li:hover {
  transform: translateX(5px);
  color: #000;
}