#loginSection {
    background-image: url('/OOO_LE_upscale_balanced_x4.jpg');
    background-color: #d9d9d9;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 
    width: 135vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
}

.login-container {
    position: absolute;
    width: 500px;
    left: 400px;
    top: 150px;
    padding: 76px;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.login-container h1 {
    margin-bottom: 2rem;
    color: #000000;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: left;
}

.login-form label {
    font-weight: 500;
}

.login-form input {
    padding: 20px 20px;
    border-radius: 8px;
    border: none;
    background-color: #ffffff;
    color: #000000;
}

.login-form input::placeholder {
    color: #b0b0b0;
}


.login-btn {
    margin-top: 1rem;
    border: none;
  padding: 20px 230px;
  border-radius: 8px;
    background-color: #000000;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s ease;
}

.login-btn:hover {
    background-color: #2e7d32;
}


@media(min-width: 1120px) and (max-width: 1440px ){

    .login-container {
    position: absolute;
    width: 400px;
    left: 400px;
    height: 400px;
    top: 70px;
    padding: 56px;
}
.login-btn {
    margin-top: 1rem;
    border: none;
    padding: 15px 190px;
    border-radius: 8px;
    background-color: #000000;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s ease;
}
.login-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
}

}




@media(min-width: 768px) and (max-width: 1121px ){

}


@media(min-width: 320px) and (max-width: 767px ){

}
